# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ===========================

# CLion specific files
.idea/

# CMake build directory created by CLion
cmake-build-debug/
cmake-build-release/

# Compiled binary files (you can specify the names of the binaries, or use wildcard patterns)
*.out
*.exe
*.a
*.so
*.dylib

# Ignore OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Ignore temporary files
*.swp            # Vim swap files
*.swo            # Vim backup files

# Ignore local configuration files (you can add more if you use any)
*.user
*.sublime-workspace

